/* Color Scheme */
:root {
  --platinum: #ebe9ec;
  /* Yellow is --bs-warning bootstrap warning color */
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  background: black;
  color: var(--platinum);
}

input,
textarea {
  border: none;
  padding: 1rem;
  width: 100%;
}

nav > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 1rem;
}

a {
  color: var(--bs-warning);
}

.navbar-brand {
  padding: 0;
  font-weight: bold;
}

.active {
  font-weight: bold;
}

.content {
  padding: 2rem;
  min-height: 85vh;
  padding-bottom: 2.5rem;
}

/* Partially override 'btn-warning' Bootstrap */
.btn-warning {
  letter-spacing: 1px;
  font-size: large;
  font-weight: bold;
  letter-spacing: 2px;
}

.sub-header,
.card-text,
.card-header-tag,
.name-footer {
  color: #9b9797;
}

.card-header {
  background-color: #414141;
  color: var(--yellow);
  font-size: large;
}

.card-body-tag {
  color: #525252;
}

.card-input {
  background-color: #414141;
}
