/* Color Scheme */
:root {
  --light-text-color: #ebe9ec;
  --dark-text-color: #9b9797; /* Darker version */
  /* Yellow is --bs-warning bootstrap warning color */
  color-scheme: dark;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  background: black;
  color: var(--light-text-color);
}

input,
textarea {
  border: none;
  padding: 1rem;
  width: 100%;
}

a {
  color: var(--bs-warning);
}

.navbar-brand {
  padding: 0;
  font-weight: bold;
}

.active {
  font-weight: bold;
  border-bottom-width: 2;
  border-bottom: 3px solid var(--bs-warning);
}

.content {
  padding: 2rem;
  min-height: 85vh;
  padding-bottom: 2.5rem;
}

/* Partially override 'btn-warning' Bootstrap */
.btn-warning {
  letter-spacing: 1px;
  font-size: large;
  font-weight: bold;
  letter-spacing: 2px;
}

.dark-text {
  color: var(--dark-text-color);
}

.card-input {
  background-color: #414141;
}
