{% extends "layout.html" %} {% block nav_items %}
<a class="nav-link px-1 mx-2 active" href="{{ url_for('index') }}">
  <i class="bi bi-house me-1"></i>
  <span>Feed</span>
</a>
<a class="nav-link px-1 mx-2" href="{{ url_for('post') }}">
  <i class="bi bi-plus me-1"></i>
  <span>Post</span>
</a>
<a class="nav-link px-1 mx-2" href="{{ url_for('profile') }}">
  <i class="bi bi-person me-1"></i>
  <span>{{ auth_user.username }}</span>
</a>
<a class="nav-link px-1 mx-2" href="{{ url_for('api_logout') }}">
  <i class="bi bi-box-arrow-right me-1"></i>
  <span>Log Out</span>
</a>
{% endblock %} {% block content %}
<main class="content col-sm-12 col-md-8 mx-auto">
  <h1>My Feed</h1>
  <section class="pt-2">
    {% for insight in insights %}
    <div class="card bg-dark my-4">
      <div class="card-body">
        <h4 class="card-title">{{ insight.title }}</h4>
        <blockquote class="blockquote mb-0">
          <p class="dark-text">{{ insight.body }}</p>
          <footer class="blockquote-footer pt-3">
            <a href="{{ url_for('profile',username=insight.author.username) }}"
              >{{ insight.author.username }}</a
            >, {{ insight.date.strftime("%m-%d-%y") }}
          </footer>
        </blockquote>
      </div>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
