{% extends "layout.html" %} {% block nav_items %}
<a class="nav-link active" href="{{ url_for('feed') }}">Feed</a>
<a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
<a class="nav-link" href="{{ url_for('create') }}"> Create Insight </a>
<a class="nav-link" href="{{ url_for('index') }}">Log Out</a>
{% endblock %} {% block content %}
<main class="content container feed-page">
  <h1>My Feed</h1>
  <section class="pt-2">
    {% for insight in insights %}
    <div class="card bg-dark m-3 my-4">
      <div class="card-body">
        <h4 class="card-title">{{ insight.title }}</h4>
        <blockquote class="blockquote mb-0">
          <p class="card-text">{{ insight.body }}</p>
          <footer class="blockquote-footer pt-3">
            <a href="{{ url_for('profile',username=insight.author.username) }}"
              >{{ insight.author.username }}</a
            >, {{ insight.date.strftime("%m-%d-%y") }}
          </footer>
        </blockquote>
      </div>
    </div>
    {% endfor %}
    <div class="card bg-dark m-3 my-4">
      <div class="card-header">How Bad Do You Want It?</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="card-text">
            When you wish to succeed as bad as you want to breathe, then you
            will be successful.
          </p>
          <footer class="blockquote-footer card-body-tag pt-3">
            Eric Thomas, 2/5/21
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="card bg-dark m-3 my-4">
      <div class="card-header">The Wise Critic</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="card-text">
            Before you criticize someone, you should walk a mile in their shoes.
            That way when you criticize them, you are a mile away from them and
            you have their shoes.
          </p>
          <footer class="blockquote-footer card-body-tag pt-3">
            Jack Handey, 2/5/21
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="card bg-dark m-3 my-4">
      <div class="card-header">Transcend Yourself</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="card-text">
            'Could I be as good as person X?' That's not the right question. The
            right question is: 'Could you be slightly better tomorrow than your
            currently flawed self?' The answer to that is: if you have the
            humility to set the bar properly low, then you can be better
            tomorrow than you are today.
          </p>
          <footer class="blockquote-footer card-body-tag pt-3">
            Jordan Peterson, 2/4/21
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="card bg-dark m-3 my-4">
      <div class="card-header">Fake It Till You Make It</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="card-text">
            He who says he can and he who says he can't are both usually right.
          </p>
          <footer class="blockquote-footer card-body-tag pt-3">
            Confucius, 2/3/21
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="card bg-dark m-3 my-4">
      <div class="card-header">Failure -- Why I Succeed</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p class="card-text">
            I’ve missed more than 9,000 shots in my career. I’ve lost almost 300
            games. Twenty-six times I’ve been trusted to take the game-winning
            shot and missed. I’ve failed over and over and over again in my
            life. And that is why I succeed.
          </p>
          <footer class="blockquote-footer card-body-tag pt-3">
            Michael Jordan, 2/3/21
          </footer>
        </blockquote>
      </div>
    </div>
  </section>
</main>
{% endblock %}
