{% extends "layout.html" %} {% block nav_items %}
<a class="nav-link px-1 mx-2" href="{{ url_for('index') }}">
  <i class="bi bi-house me-1"></i>
  <span>Feed</span>
</a>
<a class="nav-link px-1 mx-2" href="{{ url_for('post') }}">
  <i class="bi bi-plus me-1"></i>
  <span>Post</span>
</a>
<a
  class="nav-link px-1 mx-2 {{ 'active' if auth_user.id == view_user.id else '' }}"
  href="{{ url_for('profile') }}"
>
  <i class="bi bi-person me-1"></i>
  <span>{{ auth_user.username }}</span>
</a>
<a class="nav-link px-1 mx-2" href="{{ url_for('api_logout') }}">
  <i class="bi bi-box-arrow-right me-1"></i>
  <span>Log Out</span>
</a>
{% endblock %} {% block content %}
<h1>Profile: {{ view_user.username }}</h1>
<div class="p-4">
  <section>
    <h3 class="dark-text">Bio</h3>
    <div class="card bg-dark m-3 my-4">
      <div class="card-body">{{ view_user.bio }}</div>
    </div>
  </section>
  <section class="pt-2">
    <h3 class="dark-text">Insights</h3>
    {% for insight in view_user.insights %}
    <div class="card bg-dark m-3 my-4">
      <div class="card-body">
        <h4 class="card-title">{{ insight.title }}</h4>
        <blockquote class="blockquote mb-0">
          <p class="dark-text">{{ insight.body }}</p>
          <footer class="blockquote-footer pt-3">
            <a href="{{ url_for('profile',username=insight.author.username) }}"
              >{{ insight.author.username }}</a
            >, {{ insight.date.strftime("%m-%d-%y") }}
          </footer>
        </blockquote>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
