/* Color Scheme */
:root {
  --light-text-color: #ebe9ec;
  --dark-text-color: #9b9797; /* Darker version */
  /* Yellow is --bs-warning bootstrap warning color */
  --navbar-footer-height: 70px;
  color-scheme: dark; /* Makes scrollbar dark */
}

html,
body {
  font-family: 'Nunito', Helvetica, sans-serif;
  background: black;
  color: var(--light-text-color);
  height: 100%;
  margin: 0;
}

input,
textarea {
  border: none;
  padding: 1rem;
  width: 100%;
}

a {
  color: var(--bs-warning);
}

nav {
  min-height: var(
    --navbar-footer-height
  ); /* Min height and not just height because navbar expands with mobile hamburger menu */
}

.nav-footer {
  height: var(--navbar-footer-height);
}

.navbar-brand {
  font-weight: bold;
}

.active {
  font-weight: bold;
  border-bottom-width: 2;
  border-bottom: 3px solid var(--bs-warning);
}

.content {
  padding: 2rem;
  /* Have main content be whatever vertical space is left that navbar and footer didn't take */
  min-height: calc(
    100vh - var(--navbar-footer-height) - var(--navbar-footer-height)
  );
}

/* Partially override 'btn-warning' Bootstrap */
.btn-warning {
  letter-spacing: 1px;
  font-size: large;
  font-weight: bold;
  letter-spacing: 2px;
}

.dark-text {
  color: var(--dark-text-color);
}

.card-input {
  background-color: #414141;
}

.home-lightbulb-pic {
  max-width: 60%;
}
